* {
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: oklch(0.208 0.042 265.755);
}

.header {
  display: grid;
  position: sticky;
  top: 0%;
  justify-items: center;
  align-items: center;
  grid-template-columns: 0.7fr 0.1fr 0.1fr 0.1fr;
  background-color: oklch(0.208 0.042 265.755);
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 10vh;
  z-index: 1;
}

.timer {
  color: white;
}

main {
  height: 30vh;
  background-color: oklch(0.208 0.042 265.755);
}

footer {
  height: 55vh;
}

.main-text {
  padding: 10px;
  color: white;
  justify-self: left;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down;
}

img:hover {
  cursor: crosshair;
}

.img-container {
  position: relative;
}

.menu-container {
  visibility: hidden;
}

.container{
  overflow: auto;
  position: relative;
}

.index-container {
  display: grid;
  margin-top: 30px;
  align-items: center;
  justify-items: center;
}

/* .menu:hover {
  display: block;
  color: white;
  overflow: hidden;
  position: inherit;
} */

.menu2:hover {
  display: block;
  color: white;
  overflow: hidden;
  position: inherit;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 0.2fr 0.2fr;
  width: 120px;
  height: 175px;
  position: fixed;
}

button {
  background-color: oklch(0.208 0.042 265.755);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: oklch(0.372 0.044 257.287);
  transition: 0.3s;
}

area {
  position: absolute;
  cursor: crosshair;
}

.marker {
  width:"30px"; 
  height:"30px"; 
  position:"absolute";
}

.game-card {
  display: grid;
  justify-content: center;
  justify-items: center;
  border-radius: 10px;
  gap: 0px;
  width: 400px;
  height: 400px;
  color: white;
  background-color: oklch(0.279 0.041 260.031);
}

/* .game-card-title {
  font-size: large;
} */

.game-card-image {
  border-radius: 5%;
  object-fit: contain;
}

.game-card-button {
  background-color: oklch(0.257 0.09 281.288);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  width: 100px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}